@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import "mixins/mixins";
@import "node_modules/sierra-library/src/sierra.scss";
@import "components/loader";
@import "components/slider";

html, body {
    height: 100%;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.link {
    color: $brand-primary;
    cursor: pointer;
}

.section--lg {
    padding-top: 20px;
    padding-bottom: 20px;
}
