.popup {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color: black;
    background: white;
    margin: auto;
    box-sizing: border-box;
    max-width: 720px;
    width: 100%;
    z-index: 1000;
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
    animation-name: showMe;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0, 0, 0.25, 1); // ease-out
    animation-delay: 0.001s;
    animation-fill-mode: forwards;
    overflow-y: auto;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.15);

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        h1 {
            margin: 0;
        }
    }

    &-body {
        padding: 1.5rem;
        overflow-x: hidden;
    }
}
.btn-close {
    text-align: right;
    background: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
}

@keyframes showMe {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
