.slider {
    overflow: hidden;
    position: relative;
    display: block;
    &-container {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        transition: transform 0.5s;
    }
    &-author {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5px;
        background: rgba(black, 0.8);
        opacity: 0;
        transition: opacity 0.5s;
    }
    &-item {
        flex: none;
        position: relative;
        img {
            height: auto;
            min-height: 100%;
            object-fit: cover;
            vertical-align: middle;
        }
        &:hover {
            .slider-author {
                opacity: 1;
            }
        }
    }

    &-arrows {
        display: flex;
        justify-content: space-around;
    }
}
